
/* Set body background color, width and center content -Deena */
body{
	background-color: #F5F5FF;
	width: 90%;
	margin: auto;
	padding: 10px;
	color: indigo;
}
/*Set accessibility line height*/
p {
  line-height: 1.5;
}
/* Set heading text color -Deena */

#feature{
	border: 1px solid indigo;
	min-height: 0px;
	color: indigo;
	padding: 50px;
}

