/* Set heading text color -Deena */
h1 {
	color:black;
}

#content {
	overflow: auto;
}

#feature{
	/* 	background-color:#008B8B; */
	margin: 1%;
}

#feature{
	border: 1px solid orange;
	padding: 0.8em;
	min-height: 0px;
}





