* {
  	box-sizing: border-box;
	font-family: Arial, Verdana, sans-serif;
	color: lightblue;
}

/* Set body background color, width and center content -Yuval */
body{
	background-color: #F5F5FF;
	width: 90%;
	margin: auto;
}
p {
  line-height: 1.5;
}
/* Set heading text color -Yuval */
h1 {
	color: pink;
}

#content {
	overflow: auto;
}

#feature{
	border: 1px solid;
	padding: 10px;
	min-height: 0px;
}
