* {
  	box-sizing: border-box;
	font-family: Arial, Verdana, sans-serif;
	color: midnightblue;
}

/* Set body background color, width and center content -Deena */
body{
	background-color: white;
	width: 90%;
	margin: auto;
}
/*Set accessibility line height*/
p {
  line-height: 1.5;
}
/* Set heading text color -Deena */
h1 {
	color:tomato;
	background-color: midnightblue;
  	text-align: center;
  	padding: 20px;
}

/* Set background color for navigation bar to blue, text color, stays at set position and font size -Deena */
nav {
	clear: both;
	position: sticky;  
	color: tomato;
	background-color: midnightblue;
	width: 100%;
	text-align: center; 
	font-size: 20px;
	float:none;
 	background-image: linear-gradient(indigo, slateblue);
}

/* Set margin and padding for links/nav list. -Deena */
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 20px;
}

/* List nav elements horizontally -Deena */
nav li {	
	display: inline;
	margin-right: 10px;
	min-width: 44px;
	min-height: 44px;
}

/* Remove link underline. Set text color. -Deena */
nav li a {
	text-decoration: none;
	color: ivory;
}

/* Set hover and current page links. -Deena */
nav li a:hover, nav li a.current {
	color: lightsalmon;
}

/*#content {
	overflow: auto;
}

#nav, #feature, #footer {
	background-color:#008B8B; 
	margin: 1%;
}*/

#feature{
	border: 1px solid;
	padding: 0.8em;
	min-height: 0px;
	color: indigo;
	padding: 50px;
}

li {
	display: inline;
	padding: 0.5em;
}

#nav, #footer {
	padding: 0.5em 0;
}

header {
	position: sticky;
	top:0px;
	left:0px; 
	padding:1px;
	margin-bottom:10px;
	width:100%;
	background-color:midnightblue;
	text-align:center;
}

/* Stays at bottom when scrolling, position at bottom of screen, background blue, links centered, padding. -Deena */
footer {
	position: sticky;
	bottom: 0px;
	left: 0px; 
	border: solid 1px;
	padding: 10px;
	margin-bottom: 0px;
	background-color: midnightblue;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  	background-image: linear-gradient(indigo, slateblue);
}

.footer-validators {
	display: flex;
	gap: 0.3em;
	justify-content: center;
	align-items: center;
}

.footer-validators img {
	height: 31px;
}

.footer-copyright p {
	color: ivory;
}

/*added cart icon placment and size-Yuval*/
.cart-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 4px;
}
