
/* Set body background color, width and center content -Deena */
body{
	background-color: white;
	width: 90%;
	margin: auto;
}
/*Set accessibility line height*/
p {
  line-height: 1.5;
}
/* Set heading text color -Deena */

#feature{
	border: 1px solid;
	padding: 0.8em;
	min-height: 0px;
	color: indigo;
	padding: 50px;
}

