* {
  	box-sizing: border-box;
	font-family: Arial, Verdana, sans-serif;
	color: #0D4F4D;
}

/* Set body background color, width and center content -Deena */
body{
	background-color: #F5F5FF;
	width: 90%;
	margin: auto;
}

/* Set heading text color -Deena */
h1 {
	color: #0D4F4D;
}


#content {
	overflow: auto;
}

#nav, #feature, #footer {
	/* 	background-color:#008B8B; */
	margin: 1%;
}

#feature{
	border: 1px solid;
	padding: 0.8em;
	min-height: 0px;
}
