/* Set default font and text color for page -Deena */
* {
  box-sizing: border-box;
}
#container{
	box-sizing: border-box;
	color: #665544;
	padding: 0px 15px;
	/*border: 1px dashed;*/
}

.th {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	/*border: 2px solid #ddd;*/
}

.row { /*Add bottom border to row*/
	/*border-bottom: 1px solid #ddd;*/
}

.column1 { /*Small width for first row*/
	width: 20%;/*
	height: 40px;*/
	padding: 10px;
	font-weight: bold;
	border-top: 1px solid #ddd;
	float: left;
	text-align: center;
}

.column2 {/*Larger width for second row*/
	width: 80%;
	padding: 10px;
	float: left;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.Deena { /*Class distinction for Deena*/
	color:indigo;
    	background-color: white;
	border-bottom: 2px dashed;
    	font-family: "Trebuchet MS", Helvetica, sans-serif;
    	padding: 0px 0px 10px 0px;
}

.dhruv{/*Class distinction for Dhruv*/
	color: orange;
	border-bottom: 2px dashed;
     	padding: 10px 0px 10px 0px;
}
.si {
	height: 30%;
	width: 25%;
}

.ian{/*Class distinction for Ian*/
	color: #0D4F4D;
	border-bottom: 2px dashed;
      	padding: 10px 0px 10px 0px;
}

.yuval{/*Class distinction for Yuval*/
	color: pink;
	background-color: lavenderblush;
    	padding: 10px 0px 10px 0px;
}

/*Clearing row formatting*/
.clear{
	clear: both;
}
