/*Left container for filter elements*/
#container1{
  width: 12%;
  margin-top: 100px;
  float:left;
  padding: 10px;
  height: 100%;}
/*Right container for class images*/
#container2{
  float:left;
  width:80%;
  padding: 10px;}
/*Image container formatting*/
.thumb {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 360px;}
/*Shrink images to thumbnail size.*/
.image {
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  height: 60%;}
#details28, #details58, #details39, #details56, #details42 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 360px;}
