/*Left container for filter elements*/
#container1{
  width: 12%;
  margin-top: 100px;
  float:left;
  padding: 10px;
  height: 100%;}
/*Right container for class images*/
#container2{
  float:left;
  width:88%;
  padding: 10px;}
#devteam {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: center;
  width: 80%;
}
.devtitle{
  font-weight: bold;
  font-size: 18px;
  background-color: #013C4D;
  color: white;
}
.dt{
  font-size: 18px;
}
  
/*Image container formatting*/
.thumb {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  align-content: center;
  border-radius: 10px;
  color: white;}
.thumb a:link, a:visited {
  text-decoration: none;
  color: #2F4F4F;
}
/*Shrink images to smaller size.*/
.image {
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 275px;
  margin: auto;}

/*Style for class card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 375px;
  margin: auto;
  text-align: center;
  font-family: arial;
  float:left;
  display: inline;
}
.column2 {
  display: inline;
}
.price {
  color: white;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 5px;
  color: Black;
  background-color: #8FBC8F;
  text-align: center;
  cursor: pointer;
  max-width: 300px;
  font-size: 18px;
  bottom: 0px;
}

.card button:hover {
  opacity: 0.7;
}
