/*Left container for filter elements*/
#container1{
  width: 12%;
  margin-top: 100px;
  float:left;
  padding: 10px;
  height: 100%;}
/*Right container for class images*/
#container2{
  float:left;
  width:80%;
  padding: 10px;}
/*Image container formatting*/
.thumb {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 360px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  align-content: center;}
/*Shrink images to thumbnail size.*/
.image {
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 275px;
  margin: auto;}

#details28, #details58, #details39, #details56, #details42 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 360px;}
/*Style for class card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 375px:
  margin: auto;
  text-align: center;
  font-family: arial;
  float:left;
  display: inline;
}
.column2 {
  display: inline;
}
.price {
  color: white;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 5px;
  color: Black;
  background-color: #8FBC8F;
  text-align: center;
  cursor: pointer;
  max-width: 300px;
  font-size: 18px;
  bottom: 0px;
}

.card button:hover {
  opacity: 0.7;
}
