.class-card {
  display: flex;
  align-items: flex-start;
  background-color: white;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.class-image {
  width: 120px;
  height: auto;
  margin-right: 15px;
  border-radius: 4px;
}

.class-info {
  flex: 1;
  color: black;
}

.class-title {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  color: #8B0000;
}

.class-description, .class-instructor, .class-time, .class-price {
  margin: 20px 0;
  color: black;
  line-height: 1.5;
}
