/*Setting a light color for the page background and a sans serif font. Center content.*/
body{
	font-family: Arial, Verdana, sans-serif;
	background-color: ivory;
	margin: auto;}
/*Nav bar with dark blue background, centered text, text size. Stays at top of the page.*/
nav{
	/*clear: both;
	position: sticky;  */
	background-color: midnightblue;
	text-align: center; 
	font-size: 20px;
	/*float:none;*/}

/*nav ul{
	margin: 5px;
	padding: 10px;}*/

/*Format navigation in a horizongal line without bullets */
nav li{	
	display: inline;
	margin-right: 10px;}

/*Nav hyperlinks white */
nav li a{
	color: #ffffff;}

/*Hover and current page nav link color*/
nav li a:hover, nav li a.current{
	color: lightsalmon;}

/*Set width of table columns*/
.column {
  width: 33.33%;
  float: left;
}

/*Bottom border line on rows. Top and bottom padding*/
.row{
	border-bottom: 1px solid #ddd;
	padding: 10px 0px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Clearing row formatting*/
.clear{
	clear: both;}

/*Setting margins for the container close to the top and even on left and right sides*/
.container{
	margin-top:3%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:5%;}

/*Header stays at top of the page when scrolling. Background blue, centered text, salmon colored text.*/
header {
	top:0px;
	position: sticky;
	color: darksalmon;
	/*width:100%;*/
	background-color:midnightblue;
	text-align:center; 
	/*float:none*/;}

/*Footer with a blue background, links centered and side by side, footer stays at botto of display window.*/
footer {
	position:sticky;
	bottom:0px;
	/*left:0px; 
	border:solid 1px;
	padding: 5px;*/
	/*margin-bottom:0px;*/
	background-color:midnightblue;
	/*width:100%;*/
	display: flex;
	justify-content: center;}
