body{
	font-family: Arial, Verdana, sans-serif;
	background-color: ivory;
	margin: auto;}
nav{
	clear: both;
	position: sticky;  
	background-color: midnightblue;
	text-align: center; 
	font-size: 20px;
	float:none;}
a:link{
	text-decoration: none;}
a:hover{
	text-decoration: blue;}
nav ul{
	margin: 0px;
	padding: 10px;}

nav li{	
	display: inline;
	margin-right: 10px;}

nav li a{
	color: #ffffff;}

nav li a:hover, nav li a.current{
	color: ivory;}

.column {
  width: 33.33%;
  float: left;
  padding: 10px;
  height: 900px;
}

.left{  
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.clear{
clear: both;}

.container{
 margin-top:10%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}
/*#table{
	width: 90%;
	margin: auto;}

.col1, .col2, .col3 {
	width: 31.3%;
	float: left;
	margin: 1%;}

.col1 {
	
	margin: 1%;}

th, td {
	border-bottom: 1px solid #ddd;}*/

header {
	position: sticky;
	color: tomato;
	width:100%;
	background-color:midnightblue;
	text-align:center; 
	float:none;}

footer {
	position:sticky;
	bottom:0px;
	left:0px; 
	border:solid 1px;
	padding: 5px;
	margin-bottom:0px;
	background-color:midnightblue;
	width:100%;
	display: flex;
	justify-content: center;}
