/*Set width of table columns*/
.column {
  width: 33.33%;
  float: left;
}

/*Bottom border line on rows. Top and bottom padding*/
.row{
	border-bottom: 1px solid #ddd;
	padding: 10px 0px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Clearing row formatting*/
.clear{
	clear: both;}

/*Setting margins for the container close to the top and even on left and right sides*/
.container{
	margin-top:3%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:5%;}

/* Added per SiteImprove - Ian */
p {
  line-height: 1.5;
}
