#feature {
  display: flex;
  justify-content: center;
}

.presentation-block {
  display: flex;
  flex-direction: column;
  align-items: center; /* center the name and iframe */
}

.presenter-name {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--lgcBlue);
}

.ppt {
  width: 788px;
  height: 600px;
  border: 1px solid black;  /* border around the iframe */
  box-sizing: border-box;
}
