body{
  background-color:ivory;
}

table{
  horizontal-align: left;
  vertical-align: top;
  width: 60%;
  height: 75%;
}

th, td {
  border-bottom: 1px solid #ddd;
}

#title {
 position:fixed;
 color: ivory;
 top:0px;
 left:0px; 
 padding:10px;
 margin-top:75px;
 margin-bottom:75px;
 width:100%;
 background-color:midnightblue;
 text-align:center; 
 z-index:10;
 font-size:36px;
 float:none;
}

#footer {
 position:fixed;
 bottom:0px;
 left:0px; 
 border:solid 1px;
 padding: 10px;
 margin:0px;
 background-color:midnightblue;
 width:100%;
 display: flex;
 justify-content: center;
}
