body{
  background-color:ivory;
  top:200px;
  margin-top:300px;
  width: 50%;
  display: flex;
  justify-content: center;
}

#menu{
 position:fixed;  
 margin-top:10px;
 color: lightsalmon;
 background-color:midnightblue;
 width:100%;
 text-align:center; 
 font-size:14px;
 float:none;
}

#table{
  /*horizontal-align: left;
  vertical-align: top;*/
  width: 80%;
  height: 75%;
  margin: auto;
}

th, td {
  border-bottom: 1px solid #ddd;
}

#title {
 position:fixed;
 color: ivory;
 top:0px;
 left:0px; 
 padding:10px;
 margin-top:15px;
 margin-bottom:15px;
 width:100%;
 background-color:midnightblue;
 text-align:center; 
 z-index:10;
 font-size:36px;
 float:none;
}

#footer {
 position:fixed;
 bottom:0px;
 left:0px; 
 border:solid 1px;
 padding: 10px;
 margin:0px;
 background-color:midnightblue;
 width:100%;
 display: flex;
 justify-content: center;
}
