/* Set default font and text color for page -Deena */
* {
  box-sizing: border-box;
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
}

/* Set body background color, width and center content -Deena */
body{
	background-color: ivory;
	width: 90%;
	margin: auto;
}

/* Set heading text color -Deena */
h1 {
	color:tomato;
}

/* Set background color for navigation bar to blue, text color, stays at set position and font size -Deena */
nav {
	clear: both;
	position: sticky;  
	color: tomato;
	background-color: midnightblue;
	width: 100%;
	text-align: center; 
	font-size: 20px;
	float:none;
}

/* Set margin and padding for links/nav list. -Deena */
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 20px;
}

/* List nav elements horizontally -Deena */
nav li {	
	display: inline;
	margin-right: 10px;
}

/* Remove link underline. Set text color. -Deena */
nav li a {
	text-decoration: none;
	color: ivory;
}

/* Set hover and current page links. -Deena */
nav li a:hover, nav li a.current {
	color: lightsalmon;
}

/* Position at top, blue background, text centered -Deena */
header {
	position: sticky;
	/* color: ivory; -Deena */
	top:0px;
	left:0px; 
	/* height: 100px; -Deena */
	padding:1px;
	/* margin-top:10px; -Deena */
	margin-bottom:10px;
	width:100%;
	background-color:midnightblue;
	text-align:center; 
	/* float:none; -Deena */
}
.validation-section{
	padding: 0px 10px;
}
.html-result{
	background-color: aliceblue}
.css-result{
	background-color: cornsilk;}
/* Stays at bottom when scrolling, position at bottom of screen, background blue, links centered, padding. -Deena */
footer {
	position: sticky;
	bottom: 0px;
	left: 0px; 
	border:solid 1px;
	padding: 10px;
	margin-bottom: 0px;
	background-color:midnightblue;
	width: 100%;
	display: flex;
	justify-content: center;
}
